.position {
    margin-top: 30px;
}

.navbar-right{
    margin-right: 0px;
}

footer{
    text-align: center;
}

footer{
    text-align: center;
}

footer p{
    font-family: Lato, Noto Sans; 
    font-size: 12px;
}